<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">


	<!-- 加载spring-quartz 定时执行模块 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:quartz_data.xml
		</param-value>
	</context-param>

	<!-- 获取token -->
	<servlet>
		<servlet-name>token</servlet-name>
		<servlet-class>com.brilliance.util.AccessTokenUtil</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- 创建菜单 -->
	<servlet>
		<servlet-name>createmenu</servlet-name>
		<servlet-class>com.brilliance.function.MenuFunction</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>characterEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>